CRON_SECRET=change-me
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=
GOOGLE_SHEET_GID=0
NEXT_PUBLIC_ADSENSE_CLIENT_ID=
NEXT_PUBLIC_AD_SLOT_TOP=
NEXT_PUBLIC_AD_SLOT_MIDDLE=
NEXT_PUBLIC_AD_SLOT_BOTTOM=
